
body{
background-image: url("image.jpg");
background-size: cover;
color: white;
}


footer{
background-color: cadetblue;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
}


nav ul li a{
    text-decoration: none;
    color: black;

}
nav ul li:hover{
    background-color: cyan;
    opacity: 1;
    transition: 0.5s;
    scale: 1.1;

}

nav ul li{
    background-color: rgb(29, 172, 215);
display: inline-block;
font-size: larger;
list-style: none;
padding: 10px;
opacity: 1.6;
width: 200px;
text-align: center;
border: 5px solid rgb(29, 172, 215);
border-radius: 20px;
}

nav ul{
display: flex;
justify-content: center;
gap: 20px;
width: 100%;
}

.a{
text-align: center;
text-shadow: 1px 5px 1px black;

}

.z{
color: rgb(255, 255, 255);              
text-decoration: underline ;
text-decoration-style: double;
text-shadow: 1px 2px 1px black;
text-indent: 20px;
}  
form{
text-align: center;
background-color: rgb(29, 172, 215);
width: 400px;
height: 400px;
margin: 0 auto;
border: 5px solid rgb(42, 78, 88);
border-radius: 20px;

}
label{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;
font-weight: 200;
text-shadow: 1px 2px 1px black;
height: 59px;
line-height: 40px;
padding: 0px 0px 40px 0px;

}

.x{
    text-align: center;
    font-size: larger;
}
